/* You can add global styles to this file, and also import other style files */


@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    font-size: 13px;
    margin: 0;
}

.mat-form-field {
    height: 39px;
}

.mainSection {
    margin: 30px;
}
.mat-card-content {
    min-height: 50px;
}